.popup {
    display: block;
    position: fixed;
    padding: 10px;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    height: 380px;
    top: 50%;
    margin-top: -170px;
   
    z-index: 20;
  }

  .popup:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
  }
  
  .popup:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-style: double;
    border-radius: 25px;
    border-color: hotpink;
    background-color: rgb(11, 11, 20);
    z-index: -1;
  }
/* Handle monitor state change*/
.monitorState{
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 50px;

}
  #monitorInProgress{
    color: yellow;
  }
  #monitorWaiting{
    color: grey;
  }
  #monitorCompleted{
    color: Green
  }
  #monitorFailed{
    color: red
  }
