
body{
  margin: 0%;
}
@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: black;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}
